<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <link th:href="@{/diseño/main.css}" rel="stylesheet">
        <link th:href="@{/diseño/personal.css}" rel="stylesheet">
        <title>Tienda</title>
    </head>

    <body>
        <title>Tienda</title>
    </head>

<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-blue static-top">
        <a class="navbar-brand mr-1" href="/Principal/Panel"><img th:src="@{/imagen/logo_2.png}"width="160px" ></a>


        <!-- Navbar -->

    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Principal/Panel">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel</span>
                </a>
            </li>
            <li class="nav-item active">
                <a id="foodtrucks" class="nav-link"href="/Tienda/Add">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Tienda</span></a>
            </li>
            <li class="nav-item">
                <a id="products" class="nav-link" href="/Producto/Add">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Productos</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Login/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Salir</span></a>
            </li>
        </ul>

        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Panel</a>
                    </li>
                    <li class="breadcrumb-item active">Tienda</li>
                </ol>

                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i> Agregar Tiendas </div>
                    <div class="card-body">
                        <center>
                            <div class="text col-sm-5">
                                <h5><strong>Registrar Tienda: <span id="cont_tiendas"></span></strong></h5><br>
                            </div>
                        </center>

                        <p>
                        <center>

                            <div class="row mb-4" id="ListarTiendas">
                                <!--AQUI ES DONDE SE INSERTAN LAS TIENDAS QUE SE AGREGAN-->


                        </center>

                        <center>
                            <form th:action="@{/Tienda/save}" th:object="${Tienda}"  name="formulario" method="POST">
                                <input type="hidden" id="id" th:field="*{id}">
                                <p>
                                    <label>Nombre de dueño: </label>
                                    <input th:field="*{nombre}" type="text"size="50" maxlength="30" placeHolder="Lasso"  ><br><br>

                                    Nombre de local: 
                                    <input th:field="*{local}" type="text" id="nombre_tienda" size="50" maxlength="30"
                                           placeHolder="Papas locas"><br><br>
                                </p>

                                <p>
                                    Numero de local: 
                                    <input th:field="*{numero}" type="text" id="num_tienda" size="50"
                                           maxlength="50" placeHolder="1"><br><br>
                                    Descripción: 
                                    <input th:field="*{descripcion}" type="text" id="descripcion" size="50"
                                           maxlength="50" placeHolder="Aqui una descripcion"><br><br>
                                    Referencia: 
                                    <input th:field="*{referencia}" type="text" id="direccion" size="50"
                                           maxlength="50" placeHolder="Local Azul"><br><br>
                                </p>
                                <div class="modal-footer">
                                    <a type="button" class="btn btn-default"href="/Tienda/Add" >Cerrar</a>
                                    <button type="submit" id="save" class="btn btn-primary" >Guardar Tienda
                                    </button>
                            </form>

                    </div>

                </div>
            </div>
        </div>
    </div>



</div>
</div>
</div>

</div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>


</body>
</html>
